<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>All Brands</td><td>FunctionalityTestCases.TC002_chatConnectToCSP(java.lang.String)[pri:0, instance:TestCases.FunctionalityTestCases@76a2ddf3]<br/></td></tr>
</table>
