<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b669c3">  <td>23/02/23 12:57:22</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FunctionalityTestCases.TC002_chatConnectToCSP(java.lang.String)[pri:0, instance:TestCases.FunctionalityTestCases@76a2ddf3]">TC002_chatConnectToCSP</td> 
  <td>PoolService-0@496947898</td>   <td></td> </tr>
<tr bgcolor="b669c3">  <td>23/02/23 13:02:44</td>   <td>322655</td> <td title="&lt;&lt;FunctionalityTestCases.DisplayResults()[pri:0, instance:TestCases.FunctionalityTestCases@76a2ddf3]">&lt;&lt;DisplayResults</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1859383896</td>   <td></td> </tr>
</table>
